@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

/* Обнуляет стили у списка */
@mixin list-style-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Стили для текста */
@mixin text-style($font-family, $font-size, $line-height, $color) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-weight: 400;
}

/* Подключение декоративной картинки */
@mixin background-image($image-url, $image-repeat, $image-size, $image-position) {
  background-image: $image-url;
  background-repeat: $image-repeat;
  background-size: $image-size;
  background-position: $image-position;
}

/* Декоративная графика в интерактивных элементах */
@mixin background-mask($image-url, $image-repeat, $image-size, $image-position) {
  mask-image: $image-url;
  mask-repeat: $image-repeat;
  mask-size: $image-size;
  mask-position: $image-position;
}
