/* здесь используйте глобальные переменные */
/* Viewports */
$desktop: 1440px;
$tablet: 768px;
$mobile: 320px;
/* Color */
/* Текст Основные */
$main-color-text: #444444;
$additional-color-text: #000000;
$additional-color-text-light: #111111;
$product-name-color: #222222;
/* Дополнительные */
$basic-white: #ffffff;
$basic-green: #68b738;
$basic-grey: #d9d9d9;
$basic-grey-light: #f2f2f2;
$border-color: #e6e6e6;
/* Живой пример */
$example-bg: #eaeaea;
