/* здесь используйте глобальные переменные */
/* Viewports */
$desktop: 1440px;
$tablet: 768px;
$mobile: 320px;
/* Fonts */
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
/* Color */
$main-color-text: #444444;
$additional-color-text: #000000;
$additional-color-text-light: #111111;
$product-name-color: #222222;
$basic-page: #ffffff;
$additional-page: #68b738;
$link-state: #5eaa2f;
$basic-lines: #d9d9d9;
$additional-bg: #f2f2f2;
$border-color: #e6e6e6;
$example-bg: #eaeaea;
$example-border: #cdcdcd;
$line-color: #666666;
$line-secondary-color: #5eaa2f;
$lines-light: #ebebeb;
$lines-plus: #d3d3d3;
/* Gradients */
$primary-gradient: #64a83b;
$secondary-gradient: rgba(104, 183, 56, 0.85);
$additional-gradient: #63a63c;
$gradient-plus: #5da130;
$gradient-additional-plus: #3f3e44;
