/* здесь используйте глобальные переменные */
/* Viewports */
$desktop: 1440px;
$tablet: 768px;
$mobile: 320px;
/* Color */
$main-color-text: #444444;
$additional-color-text: #000000;
$additional-color-text-light: #111111;
$product-name-color: #222222;
$basic-white: #ffffff;
$basic-green: #68b738;
$secondary-link-bg: #f2f2f2;
$border-color: #e6e6e6;
