.additional-products {
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    top: 34px;
    width: 100%;
    height: 2px;
    background-color: $additional-page;

    @media (min-width: $tablet) {
      top: 87px;
    }

    @media (min-width: $desktop) {
      top: 89px;
    }
  }
}

.additional-products__wrapper {
  padding-top: 25px;

  @media (min-width: $tablet) {
    padding-top: 74px;
  }

  @media (min-width: $desktop) {
    padding-top: 71px;
  }
}

.additional-products__title {
  position: relative;
  width: max-content;
  max-width: 100%;
  padding-right: 40px;
  margin: 0;
  margin-bottom: 36px;
  background-color: $basic-page;
  z-index: 1;

  @include text-style($secondary-font, 24px, 24px, $additional-color-text);

  @media (min-width: $tablet) {
    max-width: 668px;
    margin-left: 40px;
    margin-bottom: 80px;

    @include text-style($secondary-font, 32px, 32px, $additional-color-text);
  }

  @media (min-width: $desktop) {
    margin-left: 0;

    @include text-style($secondary-font, 40px, 40px, $additional-color-text);
  }

  &::before {
    content: " ";
    position: absolute;
    background-color: $basic-page;
    width: 40px;
    height: 40px;
    left: -40px;
  }
}

.additional-products__content {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.additional-products__list {
  padding-bottom: 35px;

  @media (min-width: $tablet) {
    padding-bottom: 68px;
  }

  @media (min-width: $desktop) {
    width: 896px;
    padding-bottom: 0;
  }
}
