.button {
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: $additional-color-text;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.button span:nth-child(1) {
  top: 4px;
}

.button span:nth-child(2) {
  top: 12px;
}

.button span:nth-child(3) {
  top: 20px;
}

.button.open span:nth-child(2) {
  width: 0%;
  left: 50%;
}

.button.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 11px;
}

.button.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 11px;
}
