.gift-box {
  min-height: 290px;
  padding: 187px 58px 43px;
  background-color: $additional-page;
  background-image: linear-gradient($secondary-gradient, $secondary-gradient), url("../../images/catalog/gift-background-mobile@1x.jpg"), linear-gradient(90deg, $primary-gradient, $additional-gradient);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 280px 290px, 280px 290px, 100vw 290px;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient($secondary-gradient, $secondary-gradient), url("../../images/catalog/gift-background-mobile@2x.jpg"), linear-gradient(90deg, $primary-gradient, $additional-gradient);
  }

  @media (min-width: $tablet) {
    min-height: 200px;
    padding: 71px 20px 69px 422px;
    background-image: linear-gradient($secondary-gradient, $secondary-gradient), url("../../images/catalog/gift-background-tablet@1x.jpg"), linear-gradient(90deg, $gradient-plus 50%, $additional-gradient 50%);
    background-size: 707px 200px, 707px 200px, 100vw 200px;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient($secondary-gradient, $secondary-gradient), url("../../images/catalog/gift-background-tablet@2x.jpg"), linear-gradient(90deg, $gradient-plus 50%, $additional-gradient 50%);
    }
  }

  @media (min-width: $desktop) {
    width: 245px;
    min-height: 288px;
    padding: 185px 42px 25px;
    background-image: linear-gradient($secondary-gradient, $secondary-gradient), url("../../images/catalog/gift-background-desktop@1x.jpg"), linear-gradient(90deg, $gradient-plus 50%, $additional-gradient 50%);
    background-size: 245px 288px, 245px 288px, 100vw 288px;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient($secondary-gradient, $secondary-gradient), url("../../images/catalog/gift-background-desktop@2x.jpg"), linear-gradient(90deg, $gradient-plus 50%, $additional-gradient 50%);
    }
  }
}

.gift-box__description {
  position: relative;
  margin: 0;
  text-align: center;

  @include text-style($primary-font, 16px, 20px, $basic-page);

  @media (min-width: $tablet) {
    max-width: 161px;
    text-align: left;
  }

  @media (min-width: 786px) {
    max-width: 500px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    max-width: 161px;
    text-align: center;
  }


  &::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 80px;
    top: -127px;
    left: 50%;
    transform: translateX(-50%);

    @include background-image(url("../../icons/gift.svg"), no-repeat, 78px 80px, center);

    @media (min-width: $tablet) {
      top: -13px;
      left: -304px;
    }

    @media (min-width: $desktop) {
      top: -127px;
      left: 82px;
    }
  }
}
