.link-button {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $additional-page;

  &:hover {
    background-color: $link-state;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $link-state;
  }

  &--secondary {
    color: $main-color-text;
    background-color: $additional-bg;
  }

  &--secondary:is(:hover, :focus-visible, :active) {
    color: $main-color-text;
    background-color: $lines-light;
  }
}
