.main-header > .container {
  min-width: 320px;

  @media (min-width: $tablet) {
    display: flex;
    min-height: 50px;
    padding-top: 25px;
  }

  @media (min-width: $desktop) {
    padding-top: 54px;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  gap: 57px;

  @media (min-width: $tablet) {
    gap: 13px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}


.main-header__toggle {
  display: block;
  top: -3px;
  left: -1px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-header__toggle.no-js {
  display: none;
}

.main-header__navigation {
  @media (min-width: $tablet) {
    margin-left: auto;
  }
}
