.main-footer {
  background-color: $basic-grey-light;
}

.main-footer .container {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.main-footer__copyright-link {
  text-decoration: none;
}

.main-footer__copyright-text {
  @include text-style($primary-font, 16px, 20px, $main-color-text);
}

.main-footer__copyright-logo {
  width: 27px;
  height: 34px;

  @include background-mask(url("../../icons/stack.svg#html-academy"), no-repeat, 27px 34px, center);
  background-color: #666666;
}
