.product {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.product__link {
  text-decoration: none;
}

.product__name {
  @include text-style($secondary-font, 16px, 20px, $product-name-color);
  text-transform: uppercase;
}

.product__stats-name,
.product__stats-value {
  @include text-style($primary-font, 12px, 16px, $main-color-text);
}
