.programs__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet) {
    gap: 30px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.programs__box {
  padding: 30px 20px 18px;
  background-color: $additional-bg;

  @media (min-width: $tablet) {
    padding: 77px 316px 54px 53px;
  }

  @media (min-width: $desktop) {
    padding: 77px 52px 54px;
  }

  &--loss {
    @media (min-width: $tablet) {
      @include background-image(url("../../icons/cat-slim.svg"), no-repeat, 200px 211px, calc(100% - 63px) 50%);
    }

    @media (min-width: $desktop) {
      background-image: none;
    }
  }

  &--gain {
    @media (min-width: $tablet) {
      @include background-image(url("../../icons/cat-pro.svg"), no-repeat, 268px 200px, calc(100% - 29px) 52.2%);
    }

    @media (min-width: $desktop) {
      background-image: none;
    }
  }
}

.programs__box-title {
  position: relative;
  margin: 0;
  margin-bottom: 29px;

  @include text-style($secondary-font, 24px, 37px, $additional-color-text);
  text-transform: uppercase;
  padding-left: 70px;

  @media (min-width: $tablet) {
    padding: 0;
    margin-bottom: 24px;

    @include text-style($secondary-font, 36px, 36px, $additional-color-text);

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    padding-left: 162px;
    margin-bottom: 73px;

    &::before {
      display: block;
    }
  }
}

.programs__box--loss .programs__box-title {
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 53px;
    top: -9px;
    left: 0;

    @include background-image(url("../../icons/cat-slim.svg"), no-repeat, 50px 53px, center);

    @media (min-width: $desktop) {
      @include background-image(url("../../icons/cat-slim.svg"), no-repeat, 100px 106px, center);
      width: 100px;
      height: 106px;
      left: 0;
      top: -35px;
    }
  }
}

.programs__box--gain .programs__box-title {
  &::before {
    content: "";
    position: absolute;
    width: 67px;
    height: 50px;
    left: -8px;
    top: -6px;

    @include background-image(url("../../icons/cat-pro.svg"), no-repeat, 67px 50px, center);

    @media (min-width: $desktop) {
      @include background-image(url("../../icons/cat-pro.svg"), no-repeat, 134px 100px, center);
      width: 134px;
      height: 100px;
      left: -17px;
      top: -29px;
    }
  }
}

.programs__box-description {
  position: relative;
  margin: 0;
  margin-bottom: 38px;

  &::after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: -23px;
    background-color: $basic-lines;
  }

  @media (min-width: $tablet) {
    margin-bottom: 48px;
    max-width: 595px;

    @include text-style($primary-font, 16px, 24px, $additional-color-text);

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 25px;
  }
}

.programs__box-link {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 4px 0;

  @include text-style($secondary-font, 16px, 16px, $additional-color-text);
  text-transform: uppercase;
  text-decoration: none;

  &:is(:hover, :focus-visible) .programs__box-link-icon {
    mask-position: 0 2px;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet) {
    @include text-style($secondary-font, 20px, 29.64px, $additional-color-text);
  }
}

.programs__box-link-icon {
  width: 32px;
  height: 15px;
  flex-shrink: 0;

  @include background-mask((url("../../icons/big-arrow.svg")), no-repeat, 32px 12px, -8px 2px);
  background-color: $additional-color-text;
  transition: 0.2s ease-out;

  @media (min-width: $tablet) {
    margin-left: 11px;
  }
}
