.programs .container {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.programs__box {
  min-height: 266px;
  background-color: $basic-grey-light;

  @media (min-width: $tablet) {
    min-height: 372px;
  }

  @media (min-width: $desktop) {
    min-height: 374px;
  }
}

.programs__box--loss .programs__box-title {
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 53px;
    left: 20px;

    @include background-image(url("../../icons/stack.svg#cat-slim"), no-repeat, 50px 53px, center);
  }
}

.programs__box--gain .programs__box-title {
  &::before {
    content: "";
    position: absolute;
    width: 67px;
    height: 50px;
    left: 10px;

    @include background-image(url("../../icons/stack.svg#cat-pro"), no-repeat, 67px 50px, center);
  }
}

.programs__box-title {
  position: relative;

  @include text-style($secondary-font, 24px, 37px, $additional-color-text);
  text-transform: uppercase;
  padding-left: 95px;
}

.programs__box-link {
  display: flex;
  width: 134px;

  @include text-style($secondary-font, 16px, 16px, $additional-color-text);
  text-transform: uppercase;
  text-decoration: none;

  &:hover .programs__box-link-icon {
    mask-position: 0 2px;
  }

  &:active {
    opacity: 30%;
  }
}

.programs__box-link-icon {
  width: 32px;
  height: 12px;
  margin-left: 15px;

  @include background-mask((url("../../icons/stack.svg#big-arrow")), no-repeat, 32px 12px, -8px 2px);
  background-color: #000000;
  transition: 0.2s ease-out;
}
