.slider {
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 560px;
    height: 512px;
    margin: 0 auto;
  }
}

.slider__image-box {
  position: relative;
  margin: 0 auto;
  width: 280px;
  height: 256px;

  @media (min-width: $tablet) {
    width: 560px;
    height: 512px;
  }
}

.slider__image {
  display: block;

  &--before {
    clip-path: inset(0 50% 0 0);
  }

  &--after {
    position: absolute;
    top: 0;
    clip-path: inset(0 0 0 50%);
  }
}

.slider__line {
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  background-color: $line-color;
  cursor: pointer;

  &:hover {
    background-color: $additional-page;

    &::after {
      background-color: $additional-page;
    }
  }

  &:hover .slider__line-button {
    border-color: $additional-page;
  }

  &:focus-within,
  &:focus-within::after {
    background-color: $additional-page;
  }

  &:active {
    background-color: $line-secondary-color;

    &::after {
      background-color: $line-secondary-color;
    }
  }

  &:active .slider__line-button {
    border-color: $line-secondary-color;
  }

  &::after {
    content: " ";
    position: absolute;
    width: 24px;
    height: 18px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $line-color;

    @include background-mask (url("../../icons/slider-arrows.svg"), no-repeat, 24px 18px, center);
  }
}

.slider__line-button {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid  $line-color;
  border-radius: 50%;
  background-color: $basic-page;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &:focus-visible {
    outline: none;
    border-color: $additional-page;
  }
}
