.stats-box {
  min-width: 124px;
  position: relative;
  padding: 14px 5px 13px;
  border: 1px solid $example-border;
  border-radius: 3px;
  text-align: center;

  @media (min-width: $tablet) {
    min-width: 162px;
    max-width: 450px;
    padding: 15px 10px 18px;
  }
}

.stats-box__description {
  @include text-style($secondary-font, 24px, 24px, $additional-color-text);
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.stats-box__description--small {
  position: absolute;
  min-width: 77px;
  height: 25px;
  bottom: -16px;
  left: 50%;
  padding: 0 15px;
  transform: translateX(-50%);
  overflow: hidden;

  @include text-style($primary-font, 12px, 12px, $main-color-text);
  text-transform: none;
  background-color: $example-bg;

  @media (min-width: $tablet) {
    bottom: -7px;
    width: max-content;
    max-width: 155px;
    height: 15px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: $basic-page;
  }

  @media (min-width: $desktop) {
    padding: 0 9px;
    background-color: $additional-bg;
  }
}
